html
  head
    title= title
  body
    h1= message
    ul 
      li 
        a(href="./"+tabId) Refresh tab 
      li 
        a(href="./"+tabId + "/logout") Close tab
      li
        form(action="./"+tabId+"/patient-admit", method="post") 
          input(type="hidden", name="CSRFToken" value=csrfToken)
          button(type="submit") Admit Patient (CSRF Test)
    pre #{patient}